# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# IDE files
.vscode/
.idea/
*.iml

# Package Files
*.jar
*.war
*.ear

Add-Content .gitignore "*.class"
Add-Content .gitignore ".vscode/"
Add-Content .gitignore ".idea/"